body {
  width: 1440px;
  height: 1024px;
  background: #2d3438;
}

.nav-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: rgba(196, 196, 196, 0.1);
  mix-blend-mode: lighten;
}

.nav-menu ul li {
  float: right;
}

.nav-menu ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}
.nav-menu ul li a:hover {
  background-color: #57a9c2;
}
.container img {
  width: 1440px;
}
.container button {
  position: absolute;
  width: 671px;
  height: 170px;
  left: 406px;
  top: 487px;

  background: rgba(0, 0, 0, 0.62);
  backdrop-filter: blur(10px);
  position: absolute;
  width: 510px;
  height: 82px;
  left: 437px;
  top: 531px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 82px;

  text-transform: capitalize;

  color: #ffffff;

  border: 1px solid #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}
